[submodule "AngelHornetLibrary"]
	path = CSharp/AngelHornetLibrary
	url = https://github.com/cjmet/AngelHornetLibrary.git
[submodule "CSharp/AngelHornetLibrary"]
	path = CSharp/AngelHornetLibrary
	url = https://github.com/cjmet/AngelHornetLibrary.git
